* {
     
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body {
    height:100vh;
    background-image: url(images/dark-zod.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    
    
    
}

.credit {
    color:#5A5A5A;
    background-color: transparent;
    text-decoration: none;
  }

  /* img{
    width:500px;
    height:500px;
  } */

  .memory-game{
    width:800px;
    height:1400px;
    display:flex;
    flex-wrap:wrap;
    perspective: 1000px;
   

    
  }


  .memory-card{
   
    width: calc(25% - 10px);
    height: calc(16.666% - 10px);
    position:relative;
    margin:5px;
    transform:scale(1);
    transform-style:preserve-3d;
    transition:transform .5s;
   

  }
  
  .memory-card:active{

  transform:scale(.95);
  transition:transform .2s;
  }


  .front-face,
  .back-face {
    position:absolute;
    width:90%;
    height:90%;
    border: 2px solid #800000;
    backface-visibility:hidden;
    border-radius: 30px;
   
  }

  .memory-card.flip{
    transform:rotateY(180deg)

  }

  .front-face {
    transform:rotateY(180deg);
  }

  



h1 {
    background: linear-gradient(-45deg, #CC232A, #F5AC27, #F2888B,#A3262A,#CC9902,#FFD84B);
    background-size: 300%;
    font-size: 50px;
    padding-top: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 15s ease-in-out infinite;
    -moz-animation: animated_text 15s ease-in-out infinite;
    -webkit-animation: animated_text 15s ease-in-out infinite;
    
  

    
  }
  
  @keyframes animated_text {
    0% { background-position: 0px 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0px 50%; }
  }

 

  .credits{
    display:flex;
    flex-direction: row;
    gap:60px;

  
  }

  a {
    padding-bottom: 3%;
    color: #F7E7CE;
    text-decoration: none;
    opacity: 0.2;
    

  }

 h3 {
    font-family: 'Lato', sans-serif;
    color:#F7E7CE;
    letter-spacing: 50px;;
    font-size:15px;

  }